language: lisp
sudo: required

branches:
  only:
    - master

env:
  matrix:
    - LISP=sbcl

install:
  - curl -L https://github.com/luismbo/cl-travis/raw/master/install.sh | sh

script:
  - cl -e "(asdf:test-system :aws-sign4)"
